<div>
    <h6>Comments</h6>
    <input type="text" placeholder="write a comment" class="col-3 border rounded" [(ngModel)]="comment" />
    <input type="submit" value="comment" (click)="setValue(comment)" class="mx-4 btn btn-primary">
   
        
    <div *ngFor="let c of comments|async">
        <div *ngIf="c" class="row comment">
            <h6 class="col-3">{{c.userName}}</h6>
            <span class="date col-5">{{c.createdAT}}</span>
        </div>
        <span>{{c.caption}}</span>
    </div>
    

</div>
